<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  {% from '_form_helpers.html' import render_field %}
  <form method='post'>
    {{form.csrf_token}}
    <div>
      {{render_field(form.sender)}}
    </div>
    <div>
      {{render_field(form.recipient)}}
    </div>
    <div>
      {{render_field(form.origin)}}
    </div>
    <div>
      {{render_field(form.destination)}}
    </div>
    <div>
      {{render_field(form.express)}}
    </div>
    <button type='submit'> Submit </button>
    <button type='reset'> Cancel </button>
  </form>
</body>

</html>
